<div class="row">
	<div class="large-4 columns">
		<h5><%= link_to event.title, event_path(event) %></h5>
	</div>
	<div class="large-2 columns">
		<%= color_category(event.category) %>
	</div>
  <div class="large-2 columns">
		<p><%= event.startdate.strftime("%d/%m/%Y") %></p>
	</div>
	<div class="large-2 columns">
		<p><%= event.address %></p>
	</div>
	<div class="large-2 columns">
		<%= link_to "Show", event_path(event) %>
		<%= link_to "Edit", edit_event_path(event) %>
		<%= link_to "Delete", event_path(event),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
  </div>      
</div>

<hr />          
