<%= simple_form_for @event do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@event.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.input :title %>
  </p>
 
  <p>
    <%= f.input :description, :cols => "30", :rows => "10" %>
  </p>
 
  <p>
    <%= f.input :link %>
  </p>

  <p>
    <%= f.input :category, collection: Event::CATEGORIES, selected: Event::CATEGORIES[0] %>
  </p>
    
  <p>
    <%= f.input :address, :input_html =>{:id => 'gmaps-input-address'}, :placeholder => 'Start typing a place...' %>
  </p>

  <p>
    <%= f.input :startdate, :default => Time.now %>
  </p>

  <p>
    <%= f.input :enddate, :default => Time.now  %>
  </p>  

  <p>
    <%= f.button :submit, "Submit", class: "button"  %>
  </p>
 
<% end %>
 
<%= link_to 'Back', events_path %>
