<% title "All events" %>

<div class="large-12 columns">
	
	<h1>All events</h1> 

	<% @events.each do |event| %>
	    <%= render partial: 'event', locals: {event: event} %>
	  <% end %>

	<p>	<%= link_to "Add new event", new_event_path %></p>

</div>