<% title @event.title %>

<div class="row">
	<div class="large-9 columns">
		
		<h2><%= @event.title %></h2>
		<h4>Starts: <%= raw @event.startdate.strftime("%d/%m/%Y at %H:%M") %></h4> 
		<h4>Ends: <%= raw @event.enddate.strftime("%d/%m/%Y at %H:%M") %></h4>
		<p><%= raw @event.description %></p>
		<p><%= raw @event.link %></p>
		<p><%= raw @event.address %></p>
		<p><%= raw color_category(@event.category) %></p>

		<%= link_to "Edit", edit_event_path(@event) %>
		<%= link_to "Delete", event_path(@event),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>

		<p><%= link_to 'Back', events_path %></p>
	  <p>	<%= link_to "Add new event", new_event_path %></p>
	</div>
</div>