<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "It events in Europe and Prague" %></title>

    <script type="text/javascript" src="https://maps-api-ssl.google.com/maps/api/js?sensor=false"></script>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
 
  </head>

  <body>
  
  <div class="row">

    <nav class="top-bar" data-topbar role="navigation">
    
      <section class="top-bar-section">
        <ul class="left">
          <li><%= nav_link('All events', events_path) %></li>
        </ul>
        <ul class="right">
          <li><%= nav_link('About', about_path) %></li>
          <li><%= nav_link('Contact', contact_path) %></li>
        </ul>
      </section>
    </nav>  
  </div>

  <div class="row">  
    <%= yield %>
  </div>

  </body>
</html>
